@tailwind base;
@tailwind components;
@tailwind utilities;

input{
    @apply border my-1 p-1 border-b-blue-500
}
input::placeholder{
    @apply text-sm
}
ul li{
    margin: 20px 0;
}
/* li::before{
    content:'\2022';
  
    font-weight:900;
    width:2rem;
    
    display: inline-block;

}  */
/* Home page css */

main{

    height: 400vh;
}

.right{
   position: relative;
    width: 100%;
    height: 100%;
  
}
.mainPage{
    
    clip-path: polygon(0 0, 100% 1%, 100% 100%, 0 58%);
}
.heroImg{
    object-fit: cover;

}
section{
    width: 100%;
    height: 120vh;
    
}
.info{
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}